
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div id="content" style="padding-top: 62px;">
    <div class="container">
        <div class="gt-da" style="margin-bottom: 20px;">
            <h3 style="text-align: center;">Giới thiệu</h3>
            <p>Chào mừng đến với trang web bán cá cảnh! Chúng tôi cung cấp một loạt các loại cá cảnh đẹp và khác nhau để tạo nên một không gian sống động và tự nhiên trong căn nhà của bạn. Với một bộ sưu tập rộng lớn của chúng tôi, bạn sẽ tìm thấy những loài cá cảnh phù hợp với mọi phong cách và nhu cầu của bạn.</p>
            <img src="~/Data/img/Product_Thunderbolt.jpg" alt="" style="display: block;margin: auto;">
            <p>Tại trang web của chúng tôi, chúng tôi cam kết cung cấp những sản phẩm chất lượng tốt nhất cho khách hàng của mình. Tất cả các loài cá cảnh đều được chăm sóc và nuôi dưỡng tốt nhất để đảm bảo sức khỏe và sự sống lâu dài cho chúng. Ngoài ra, chúng tôi cũng cung cấp các loại thiết bị và phụ kiện cần thiết để tạo ra một môi trường sống lý tưởng cho các loài cá cảnh của bạn.</p>
            <p>Bạn có thể yên tâm mua sắm và lựa chọn những sản phẩm phù hợp với ngân sách của mình. Chúng tôi cam kết giá cả hợp lý và dịch vụ khách hàng tốt nhất để đáp ứng nhu cầu của khách hàng.</p>
            <p>Với phương châm hoạt động: "<span style="font-weight: 600;">Sự hài lòng của khách hàng là hạnh phúc của chúng tôi</span>"</p>
        </div>

        <h3 style="text-align: center;border-top: 1px solid #cec9c9;">Thông Tin Sinh Viên</h3>
        <div class="tt-sinhvien" style="margin-bottom: 20px;">

            <div class="left">
                <p>Mã sinh viên :2001215834</p>
                <p>Họ và tên : Chiêm Hồng Hưng</p>
                <p>Lớp : 12DHTH17</p>
            </div>
            <div class="right">

                <p>Gmail: hunghung2k33@gmail.com</p>
                <p>Số điện thoại :0362577642</p>
            </div>
        </div>

    </div>
</div>